/*table {
    border: 2px solid black; 
    width: 100%;
}
th {
    background-color: #4CAF50;
    color: white;
}
td:hover { background-color: #f5f5f5 }
td {
    padding: 20px;
    border: 1px solid grey; 
    text-align: center;
    margin: 10px 5px 15px 20px;
}*/
